.menu-icon{
    color: white;
    font-size: 70px;
    margin: 20px;
    z-index: 2;
}
.show-header{
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    background-color: rgba(46, 45, 45, 0.434); 
    height: 65vh;
    width: 50%;
}
.hide-header{
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height:0;
    width: 0;
}      
.show-header li {
    color: white;
    list-style: none;
    margin-top: 25px;
}
.show-header a{
    color: white;
    text-decoration: none;
}